.caixaInteira {
    width: 60vw;
    height: 90vh;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;

}

header {
    background-color: lightgray;
    border-bottom: black solid 2px;
    width: 100%;
    height: 15%;

    top: 100%;
}

#titulo {
    padding-left: 20px;

}

.msgs {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    margin-top: 10px;
    margin-left: 10px;
}



.caixatextoAleatorio {
    /* position: relative;
    border: 1px solid black;
    width: 57vw;
    height: 15h;
    margin-left: 1vw;
    margin-top: 1vh; */
    overflow-y: auto;
    flex-wrap: wrap;

}

#textoAleatorio {
    width: 56vw;
    height: 13%;
    font-size: large;
    word-wrap: break-word; 
    overflow-y: scroll;
}

.btnEditar {
    float: right;
    height: 3vh;
    background-color: rgb(254, 163, 129);
}

.btnExcluir {
    float: right;
    height: 3vh;
    background-color: rgb(242, 112, 112);
}

.caixaMensagemBtn {
    background-color: lightgray;
    height: 20vh;
    padding: 1vh;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 67vh;
    border: black solid 2px;
    border-bottom: 0;
    flex-wrap: wrap;
    position: fixed;
}

#mensagem{
    width: 30vw;
    height: 19vh;
}

#btnEnviar {
    width: 5vw;
    height: 3vh;
    background-color: rgb(65, 116, 255);
    color: white;
}